@page "/SimonSays"

@using Frontend.Games.SimonSays

<PageTitle>@(gameInfo?.GameName ?? "SimonSays")</PageTitle>

<div style=" height: 85vh;">
    <h2 style="font-size: 25px; color: white;">High Score: @gameManager.HighScore</h2>
    <h2 style="font-size: 25px; color: white;">Current Score: @gameManager.Level</h2>
    <h2 style="font-size: 25px; color: white;">Recent Score: @gameManager.RecentScore</h2>
    <h2 style="font-size: 25px; color: white;">Last Game Playtime: @gameManager.TimePlayed.ToString(@"m\:ss\.fff")</h2>



    <div style="margin-top: -40px;">
        <div
            style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); gap: 10px; width: 45vh; margin: 0 auto; height: 45vh; position: relative;">
            @foreach (var button in gameManager.Buttons)
            {
                var buttonClass = button.IsLit ? "buttonDefault pressed valid" : "buttonDefault";
                if (button.IsError)
                {
                    buttonClass += " pressed invalid";
                }
                <button class="@buttonClass"
                    @onclick="async () => await button.OnClick(StateHasChanged)">@button.Text</button>
            }
        </div>
        <div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 3em;">
            <button class="pageButton largePageButton"  disabled="@gameManager.IsDisabled"
                @onclick="@(async () => {@gameManager.IsDisabled=true; await gameManager.StartNewGame();})">New
                Game</button>
        </div>
    </div>

    <div class="game-rules" style="margin-top: 20px; color: white;">
        <h3>Rules:</h3>
        <p>Simon will play a sequence of buttons. Repeat the sequence by clicking the buttons in the same order.</p>
        <p>Each time you repeat the sequence correctly, the sequence will get longer.</p>
        <p>Get as many correct as you can!</p>
    </div>
    @* @if (@gameInfo != null)
    {
        <h2>@gameInfo.Value.GameName Žaidimo taisyklės</h2>
        <p>@gameInfo.Value.Rules</p>
        <h2>Žaidimo išleidimo data: @gameInfo.Value.ReleaseDate </h2>
    } *@
</div>